@model IEnumerable<Model.TicketModel>


<br /><br />
<button class="btn btn-danger " style="font-size:20px ;border-left-width: 10px;border-right-width: 10px;border-top-width: 0px;border-bottom-width: 5px;padding-bottom: 0px;" onclick="window.location = '/Customer/Dashboard'">Back</button>

@{
    ViewBag.Title = "BookingDetails";
}
<h2>BookingDetails</h2>


<div class="jumbotron" style="background-color:burlywood">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.BusSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusDestination)
            </th>       
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumbers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusDestination)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumbers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>


        </tr>
    }

</table>
</div>
