@model IEnumerable<Model.BusModel>

@{
    ViewBag.Title = "BusList";
}

<h2>BusList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusTravelsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusDestination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusSeatCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusTicketCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusTravelsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusDestination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusSeatCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusTicketCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
