

@model IEnumerable<Model.BusModel>


@{
    ViewBag.Title = "Dashboard";
}
<head>
 
        <meta charset="utf-8">
        <title>jQuery UI Datepicker functionality</title>
        <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   


    <script type="text/javascript">
        $(document).ready(function () {
            var minDate = new Date();
            //var maxDate=new Date("07,18,2019")
            var maxDate = new Date();
            maxDate.setDate(minDate.getDate() + 9);
            
            $("#start").datepicker({

                showAnim: 'drop',
                numberOfMonth: 1,
                minDate: minDate,
                maxDate:maxDate,
                dateFormat: 'mm/dd/yy'
            });
        });



    </script>
    <style>

        table, th, td {
  border: 1px solid black;
}
        table,td{
            font-weight:bold;
        }

    </style>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<h2>Search for Buses</h2>
<body>

    <div class="column-layout">
        <div class="jumbotron" style="background-color: #61d23ceb">

            <div class="signup">


                <form name="register" class="form-group" method="post">
                   
                   Source <br /> <select required name="BusSource">
                      
                        <option>Chennai</option>   
                        <option>Pune</option>
                        <option>Mysore</option>
                        <option>Coimbatore</option>                   
                    </select> <br />                 
                  Destination <br />  <select required name="BusDestination">
                        <option>Hyderabad</option>
                        <option>Bangalore</option>
                        <option>Cochin</option>
                        <option>Madurai</option>
                    </select> <br />
                    Date:<br/><input type="text" id="start" name="BusDepartureDate" size="8"  autocomplete="off" value="" required />
                    
                    <input class="btn btn-danger" type="submit" value="Search" />
                  
                       
                       
                   
                </form>


            </div>
            @if (Model != null)
            {
                <table class="table">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Travels
                        </th>

                        <th>Time</th>
                        <th>
                            Source
                        </th>
                        <th>
                            Destination
                        </th>

                        <th>
                            Available Seats
                        </th>
                        <th>
                            Ticket Cost
                        </th>
                        <th> Book Tickets</th>
                    </tr>

                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusTravelsName)
                            </td>

                            <td>@Html.DisplayFor(modelItem => item.BusDepartureTime)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusSource)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusDestination)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusSeatCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BusTicketCost)
                            </td>


                            <td>
                                <button class="btn btn-danger " onclick="window.location = '/Customer/DisplaySeats?BusID=@item.BusID'">Book Tickets!</button>
                            </td>
                        </tr>
                    }

                </table>
            }

        </div>
    </div>
</body>
