@model IEnumerable<Model.BusModel>
<br /><br />
<button class="btn btn-danger " style="font-size:20px ;border-left-width: 10px;border-right-width: 10px;border-top-width: 0px;border-bottom-width: 5px;padding-bottom: 0px;" onclick="window.location = '/Customer/Dashboard'">Back</button>
@{
    ViewBag.Title = "DisplaySeats";
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />

<h2>Seat Seats</h2>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <style>

        body{
                font-weight: bold;
                color: brown;
        }
    </style>

    <script src="~/Scripts/MyScripts/credit-card-validation.js"></script>
    <script src="~/Scripts/MyScripts/select-seats.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="jumbotron" style="background-color: #e4ce3196">
        <div id="seats" style='font-size: 30px; color:black'></div>


        <h3>Credit Card Details</h3>
        Credit Card Number <br /><input type="number" name="cardnumber" id="cardnumber" value="" required="required" /><br />
        <div id="invalid" ></div>
        CVV<br /><input type="number" id="cvv" name="cvv" value="" required="required"><br />
        <div id="cvvValid"></div>
        Expiry date <br /><input type="text" id="expirydate" name="expirydate" value="" required="required"><br />
        <div id="expiry"></div>
        <button class="btn-success" onclick="submit()" id="button"> book now</button>
    </div>
    <div style="display: none;">
        @{
            foreach (var item in Model)
            {
                <input type="text" id="CustomerEmail" name="CustomerEmail" value="@Session["CustomerEmail"]" />
                <input type="text" id="BusID" name="BusID" value="@item.BusID" />
                <input type="text" id="Cost" name="Cost" value="@item.BusTicketCost"/>
                <input type="text" id="source" name="BusSource" value="@item.BusSource"/>
                <input type="text" id="destination" name="BusDestination" value="@item.BusDestination"/>
                
                break;
            }
        }
    </div>

</body>

<script type="text/javascript">

    var selectedSeats = [];

    var index;
    for (index = 1; index < 33; index++) {
        if (index < 10)
            document.getElementById("seats").innerHTML += "<i style='color: black;' id='" + index + "' class='fas fa-bed' onclick='selectSeat(" + index + ")'>0" + index + "</i> &nbsp &nbsp";
        else
            document.getElementById("seats").innerHTML += "<i style='color: black;' id='" + index + "' class='fas fa-bed' onclick='selectSeat(" + index + ")'>" + index + "</i> &nbsp &nbsp";

        if (index % 2 == 0) {
            document.getElementById("seats").innerHTML += "&nbsp &nbsp"
        }
        if (index % 4 == 0) {
            document.getElementById("seats").innerHTML += "<br>"
        }

    }


    function selectSeat(seatno) {

        console.log(seatno);
        var color = document.getElementById(seatno).getAttribute("style", "color");
        if (color.includes("black")) {
            document.getElementById(seatno).setAttribute("style", "color: green;");
            selectedSeats.push(seatno);

        }
        if (color.includes("green")) {
            document.getElementById(seatno).setAttribute("style", "color:black");
            var seatIndex = selectedSeats.indexOf(seatno);
            selectedSeats.splice(seatIndex, 1);

        }

    }
</script>
<br />


@{
    foreach (var seat in Model)
    {
        <script>
                document.getElementById('@seat.BusSeatCount').setAttribute("style", "color: red;");
        </script>
    }
}
@Scripts.Render("~/bundles/myscripts")






