@model Model.CustomerModel

@{
    ViewBag.Title = "Create";
}
<head>

    
   <style>
       body{
    background-image : url("https://images7.alphacoders.com/317/317196.jpg");
    background-size : cover;
}
      
        .jumbotron
{       opacity: 0.8;
        /*background-image: url("https://getjar.co.uk/wp-content/uploads/2018/07/4855789-white-background-images-1-300x169.jpg");*/
          background-size: cover;
}
          .text1{
        color:orange;
    }
         .test{
      color:white;
  }
         label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 900;
    color: black;
}
   </style>
</head>

<body>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br /><br />
    <br /><br />
    <div id="bg"></div>
 
    <div class="jumbotron" style="background-color:#3333336b" >
        <div class="form-horizontal"> 
             <h3 style="font-weight: 900; color: black">Login Details</h3>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                

                <div class="form-group">
                    @Html.Label("CustomerEmail", "Email", htmlAttributes: new { @class = "col-sm-2 col-form-label"  })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.CustomerEmail, new { htmlAttributes = new { } })
                        @Html.ValidationMessageFor(model => model.CustomerEmail, "", new { @class = "text-danger", @style = "color: white" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("CustomerPassword", "Password", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.CustomerPassword, new { htmlAttributes = new { @class = "form-control", @style = "margin-left:590px; width:250px" } })
                        @Html.ValidationMessageFor(model => model.CustomerPassword, "", new { @class = "text-danger", @style = "color: white" })
                    </div>
                    @{
                        var data = ViewBag.Message;
                    }
                    @data
                </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input class ="btn btn-success" type="submit" value="Login"  />

                </div>
                <text class="text1">New User? @Html.ActionLink("Click here to Register", "Create", null, new { @class = "test" }) </text>

            </div>

        </div>
    </div>
}
</body>