<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bus Ticket Booking System", "Dashboard", "Customer", new { area = "" }, new { @class = "navbar-brand" })
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                    <li>
                        @{
                            var state = Session["CustomerEmail"];

                            if (state == null)
                            {  @Html.ActionLink("Login", "Login", "Customer", new { @area = "" }, null) }



                            else
                            {
                                        @Html.ActionLink("Logout", "Logout", "Customer", new { area = "" }, null)

                            }


                        }
                    </li>
                    <li>
                       @{
                           var adminstate = Session["AdminEmail"];

                           if (adminstate == null)
                           { 

                            @Html.ActionLink("Admin", "Login", "Admin", new { area = "" }, new { @style = "float: right; left: 800px; " })
                           }



                           else
                           {
                        

                            @Html.ActionLink("Admin Logout", "Logout", "Admin", new { area = "" }, new { @style = "float: right; left: 800px; " })

                           }


                    }
                        


                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Bus Ticket Booking System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
