<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
     footer {
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
        </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Search for Buses", "Dashboard", "Customer", new { area = "" }, new { @class = "navbar-brand" , @style="font-weight: 700 ;color:yellow" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>
                        @{
                            var state = Session["CustomerEmail"];

                            if (state == null)
                            {
                                 @Html.ActionLink("Login", "Login", "Customer", new { @area = "" }, new { @style = "float: right; left: 800px; font-weight:800 ;color:yellow " }) }

                            else
                            {
                                @Html.ActionLink("Welcome "+@state+" Logout", "Logout", "Customer", new { area = "" }, new { @style = "float: right; left: 700px; font-weight:800 ;color:yellow" })
                            }

                        }
                    </li>
                    <li>




                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <footer>
        &copy; @DateTime.Now.Year -Bus Ticket Booking System
    </footer>
</body>

</html>
